{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                  Domains ({{ domains.getTotalItemCount() }}) 
                </h4>
            </div>
             <div class="card-body table-full-width table-responsive">
                 <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>DOMAIN</th>
                            <th>Purchase Transaction #</th>
                            <th>PURCHASE KEY</th>
                            <th>DOMAIN KEY</th>
                         
                            <th>Delete </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for domain in domains %}
                            
                            <tr data-id="{{ domain.id }}" {% if domain.enabled == false %} class="inactive" {% endif %}>
                                <td>{{ domain.domain }}</td>
                                 <td>{{ domain.purchase.transactionId }}</td>
                                <td>{{ domain.purchase.licenses | licenses }}</td>
                                <td>{{ domain.licenseKey }}</td>
                                <td>
                                    <span data-url="{{ url('delete_domain', {'id': domain.id}) }}" class="deleteDomain">
                                        Delete
                                    </span>    
                                </td>   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>    
            {{ knp_pagination_render(domains) }}    
        </div>   
    </div>


{% endblock %}